# Gradle cache directory
.gradle/

# Kotlin Gradle plugin directory
.kotlin/

# Gradle build output directory
build/

# Playground output directory
playground/output/

# Devcontainer directory
.devcontainer/