<configuration>

  <conversionRule
    conversionWord="logger"
    class="org.ucombinator.jade.util.RelativeLoggerConverter" />

  <conversionRule
    conversionWord="caller"
    class="org.ucombinator.jade.util.DynamicCallerConverter" />

  <conversionRule
    conversionWord="highlight"
    class="org.ucombinator.jade.util.HighlightingCompositeConverter" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <!-- TODO: maybe automate the prefix passed to %logger -->
      <pattern>%highlight(%-5level %logger{org.ucombinator.jade.}:) %message%n%caller</pattern>
    </encoder>
  </appender>

  <timestamp key="runTimestamp" datePattern="yyyyMMdd-HHmmss.SSS" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/test-output-${runTimestamp}.log</file>
    <append>false</append>
    <encoder>
      <pattern>%highlight(%-5level %logger{org.ucombinator.jade.}:) %message%n%caller</pattern>
    </encoder>
  </appender>
  
  <root level="info">
    <!-- TODO: STDERR (configurable?) -->
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
